USE [PetVacayDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/06/2017 16:12:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[PetId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[FinishDate] [datetime] NOT NULL,
	[MadeDate] [datetime] NOT NULL,
	[InitialLocation_Latitude] [nvarchar](max) NULL,
	[InitialLocation_Longitude] [nvarchar](max) NULL,
	[IsWalker] [bit] NOT NULL,
	[WalkingStarted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Clients] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Informs]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informs](
	[InformId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[DateOfInform] [datetime] NOT NULL,
	[InformData] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Informs] PRIMARY KEY CLUSTERED 
(
	[InformId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payments]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[CreditCardNumber] [nvarchar](max) NULL,
	[CCV] [int] NOT NULL,
	[CreditCardExpirationMonth] [int] NOT NULL,
	[CreditCardExpirationYear] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pets]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PetType] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Weight] [real] NOT NULL,
	[FriendlyPet] [bit] NOT NULL,
	[HasVaccination] [bit] NOT NULL,
	[PetImage] [nvarchar](max) NULL,
	[ClientId] [int] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Information] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Pets] PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[BookingId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WeekDays]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WeekDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkerImages]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[WorkerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WorkerImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Workers]    Script Date: 22/06/2017 16:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[IsWalker] [bit] NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[Information] [nvarchar](max) NULL,
	[WalkingPrice] [int] NOT NULL,
	[BoardingPrice] [int] NOT NULL,
	[ZIPCode] [int] NOT NULL,
	[Location_Latitude] [nvarchar](max) NULL,
	[Location_Longitude] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Workers] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [ClientId], [WorkerId], [PetId], [StartDate], [FinishDate], [MadeDate], [InitialLocation_Latitude], [InitialLocation_Longitude], [IsWalker], [WalkingStarted]) VALUES (2, 1, 1, 1, CAST(0x0000A79200796620 AS DateTime), CAST(0x0000A79800796620 AS DateTime), CAST(0x0000000000000000 AS DateTime), N'-34.8806108', N'-56.1934942', 1, 1)
INSERT [dbo].[Bookings] ([BookingId], [ClientId], [WorkerId], [PetId], [StartDate], [FinishDate], [MadeDate], [InitialLocation_Latitude], [InitialLocation_Longitude], [IsWalker], [WalkingStarted]) VALUES (3, 1, 1, 1, CAST(0x0000A75500796620 AS DateTime), CAST(0x0000A77900796620 AS DateTime), CAST(0x0000000000000000 AS DateTime), N'-34.909099', N'-56.149547', 1, 1)
INSERT [dbo].[Bookings] ([BookingId], [ClientId], [WorkerId], [PetId], [StartDate], [FinishDate], [MadeDate], [InitialLocation_Latitude], [InitialLocation_Longitude], [IsWalker], [WalkingStarted]) VALUES (4, 1, 1, 4, CAST(0x0000A78500796620 AS DateTime), CAST(0x0000A78E00796620 AS DateTime), CAST(0x0000000000000000 AS DateTime), NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [Name], [Surname], [Email], [Password], [ProfileImage], [PhoneNumber]) VALUES (1, N'Juan', N'Ramirez', N'juan@juan.com', N'12345678', N'C:\profileImages\c1.jpg', N'095677889')
INSERT [dbo].[Clients] ([ClientId], [Name], [Surname], [Email], [Password], [ProfileImage], [PhoneNumber]) VALUES (2, N'antonella', N'lopez', N'anto90@gmail.com', N'anto1234', NULL, N'098767898')
INSERT [dbo].[Clients] ([ClientId], [Name], [Surname], [Email], [Password], [ProfileImage], [PhoneNumber]) VALUES (4, N'Pepe', N'Suarez', N'pepito15@gmail.com', N'pepe1234', NULL, N'098765432')
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Informs] ON 

INSERT [dbo].[Informs] ([InformId], [BookingId], [DateOfInform], [InformData]) VALUES (1, 2, CAST(0x0000A79500796620 AS DateTime), N'El perro se porto barbaro.')
INSERT [dbo].[Informs] ([InformId], [BookingId], [DateOfInform], [InformData]) VALUES (2, 2, CAST(0x0000A79600796620 AS DateTime), N'Informe para el dia 18')
INSERT [dbo].[Informs] ([InformId], [BookingId], [DateOfInform], [InformData]) VALUES (3, 10, CAST(0x0000A79901269BA5 AS DateTime), N'Se porto bien')
SET IDENTITY_INSERT [dbo].[Informs] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [BookingId], [CreditCardNumber], [CCV], [CreditCardExpirationMonth], [CreditCardExpirationYear], [Amount]) VALUES (1, 8, N'1234567812344567', 123, 9, 0, 50)
INSERT [dbo].[Payments] ([Id], [BookingId], [CreditCardNumber], [CCV], [CreditCardExpirationMonth], [CreditCardExpirationYear], [Amount]) VALUES (3, 10, N'1234123412341234', 123, 6, 0, 500)
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([PetId], [Name], [PetType], [Age], [Weight], [FriendlyPet], [HasVaccination], [PetImage], [ClientId], [Gender], [Information]) VALUES (1, N'Boby', N'Dog', 10, 20, 1, 1, N'C:\profileImages\p1.jpg', 1, N'Male', N'Un perro lindo')
INSERT [dbo].[Pets] ([PetId], [Name], [PetType], [Age], [Weight], [FriendlyPet], [HasVaccination], [PetImage], [ClientId], [Gender], [Information]) VALUES (2, N'MishuDos', N'Perro', 4, 10, 1, 1, N'C:\profileImages\p2.jpg', 1, N'Macho', N'Un gato lindo')
INSERT [dbo].[Pets] ([PetId], [Name], [PetType], [Age], [Weight], [FriendlyPet], [HasVaccination], [PetImage], [ClientId], [Gender], [Information]) VALUES (3, N'Frodo', N'Dog', 13, 60, 1, 1, N'C:\profileImages\p3.jpg', 1, N'Male', N'Un perro lindo')
SET IDENTITY_INSERT [dbo].[Pets] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [Score], [Comment], [BookingId]) VALUES (1, 4, N'Lo paseo bien', 2)
INSERT [dbo].[Reviews] ([ReviewId], [Score], [Comment], [BookingId]) VALUES (3, 2, N'Hubieron problemas con el cuidador', 3)
INSERT [dbo].[Reviews] ([ReviewId], [Score], [Comment], [BookingId]) VALUES (5, 4, N'Buen cuidado de mascota', 4)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
SET IDENTITY_INSERT [dbo].[WeekDays] ON 

INSERT [dbo].[WeekDays] ([Id], [Day], [WorkerId]) VALUES (4, 1, 2)
INSERT [dbo].[WeekDays] ([Id], [Day], [WorkerId]) VALUES (5, 2, 2)
INSERT [dbo].[WeekDays] ([Id], [Day], [WorkerId]) VALUES (6, 3, 2)
SET IDENTITY_INSERT [dbo].[WeekDays] OFF
SET IDENTITY_INSERT [dbo].[WorkerImages] ON 

INSERT [dbo].[WorkerImages] ([Id], [ImageUrl], [WorkerId]) VALUES (1, N'C:\profileImages\w42e44011-7503-4ba2-81e5-3a81fafc4087.jpg', 1)
INSERT [dbo].[WorkerImages] ([Id], [ImageUrl], [WorkerId]) VALUES (2, N'C:\profileImages\wa0522f07-4e42-41a3-a2c8-d3c0b0d54b20.jpg', 1)
INSERT [dbo].[WorkerImages] ([Id], [ImageUrl], [WorkerId]) VALUES (3, N'C:\profileImages\we9a1f412-b1c3-4d76-981a-85186ea2131d.jpg', 1)
SET IDENTITY_INSERT [dbo].[WorkerImages] OFF
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([WorkerId], [Name], [Surname], [Email], [Password], [PhoneNumber], [ProfileImage], [IsWalker], [ShortDescription], [Information], [WalkingPrice], [BoardingPrice], [ZIPCode], [Location_Latitude], [Location_Longitude]) VALUES (1, N'Paseos', N'Company', N'paseador@paseador.com', N'paseos9900', N'095150833', N'C:\profileImages\w1.jpg', 1, N'paseador', N'paseo perros', 100, 500, 11300, N'-34.8805701', N'-56.1935297')
INSERT [dbo].[Workers] ([WorkerId], [Name], [Surname], [Email], [Password], [PhoneNumber], [ProfileImage], [IsWalker], [ShortDescription], [Information], [WalkingPrice], [BoardingPrice], [ZIPCode], [Location_Latitude], [Location_Longitude]) VALUES (2, N'Paseos', N'Company', N'walker@walk.com', N'paseos9900', N'099900990', N'C:\profileImages\walker.jpg', 1, N'paseador y cuidador', N'me gustan las mascotas', 110, 450, 11800, N'37.421998333333335', N'-122.08400000000002')
INSERT [dbo].[Workers] ([WorkerId], [Name], [Surname], [Email], [Password], [PhoneNumber], [ProfileImage], [IsWalker], [ShortDescription], [Information], [WalkingPrice], [BoardingPrice], [ZIPCode], [Location_Latitude], [Location_Longitude]) VALUES (3, N'Sofia', N'Martinez', N'sofiapaseos@paseos.com', N'sofia1234', N'099234567', N'C:\profileImages\w3.jpg', 1, N'Sofia paseos', N'Sofia pasea tus mascotas', 200, 500, 11400, N'-34.88076936453581', N'-56.19345283135772')
SET IDENTITY_INSERT [dbo].[Workers] OFF
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [MadeDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsWalker]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [WalkingStarted]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [WalkingPrice]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [BoardingPrice]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [ZIPCode]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Pets_dbo.Clients_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_dbo.Pets_dbo.Clients_ClientId]
GO
ALTER TABLE [dbo].[WeekDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WeekDays_dbo.Workers_WorkerId] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([WorkerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeekDays] CHECK CONSTRAINT [FK_dbo.WeekDays_dbo.Workers_WorkerId]
GO
ALTER TABLE [dbo].[WorkerImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkerImages_dbo.Workers_WorkerId] FOREIGN KEY([WorkerId])
REFERENCES [dbo].[Workers] ([WorkerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerImages] CHECK CONSTRAINT [FK_dbo.WorkerImages_dbo.Workers_WorkerId]
GO
